<form action="/login" method="post">
  username: <input type="text" name="username" size="32" value="fred" />
  <br>
  password: <input type="text" name="password" size="32" value="1234" />
  <br>
  <input type="submit" value="Login" />
</form>
<br>

<form method="POST" action="/logout">
  <input type="submit" value="Logout" />
</form>
