// Phimpasouk, Soukha
// CSE405: Server Programming
// Static: Assignment 4:
// style.css
// January 23, 2018

body 
{
    background-color: gray;
}
h1 
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p 
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

